.heading {
    background-color: #ebebeb;
    padding: 20px;
    text-align: center;
    border: 2px solid #333;
    box-shadow: 5px 10px #666;
    color: #333;
    font-family: sans-serif;
}

.heading p {
    font-size: 2rem;
}

.heading span {
    font-weight: 700;
    color: rgb(84, 138, 209);
}

.heading ul {
    list-style-type: none;
}

.heading li {
    display: inline-block;
    width: 25%;
}

.heading li a {
    color: #333;
    text-decoration: none;
}

.heading li a:hover {
    text-decoration: underline;
    color: rgb(84, 138, 209);
}